.ut-table{
    display: table;
    width: 100%;
}

.ut-tableCell{
    display: table-cell;
    vertical-align: middle;
    float: none !important;
}

@include breakpoint(max-width $mobileMax){
    .ut-mobileCell{
        display: block !important;
        width: 100% !important;
        box-sizing: border-box;
        margin-top: $spacing;

        &:first-child{
            margin-top: 0;
        }
    }
}

.ut-maxWidth{
    width: 100%;
}

.ut-maxHeight{
    height: 100%;
}

.ut-clearList{
    list-style: none;
    padding: 0;
    
    li{
        display: inline-block;
    }
}

.ut-clearListOnly{
    list-style: none;
    padding: 0;
}

.ut-noPadding{
	padding: 0;
}

.ut-padding{
    padding: $spacing;
}

.ut-paddingRight{
	padding-right: $spacing !important;
}

.ut-paddingLeft{
    padding-left: $spacing !important;
}

.ut-paddingBottom{
    padding-bottom: $spacing;
}

.ut-paddingTop{
    padding-top: $spacing;
}

.ut-paddingTopLarge{
    padding-top: $spacing * 2;
}

.ut-noMargin{
    margin: 0 !important;
}

.ut-marginTopMega{
    margin-top: 30% !important;
}

.ut-marginBottomMega{
    margin-bottom: 30% !important;
}

.ut-marginBottomEnd{
    margin-bottom: 512px !important;   
}

.ut-marginTopLarge{
    margin-top: $spacing * 2 !important;
}

.ut-marginTop{
    margin-top: $spacing !important;
}

.ut-marginBottom{
    margin-bottom: $spacing !important;
}

.ut-marginRight{
    margin-right: $spacing !important;
}

.ut-marginLeft{
    margin-left: $spacing !important;
}

.ut-marginLeftLarge{
    margin-left: $spacing * 2 !important;
}

.ut-marginBottomLarge{
    margin-bottom: $spacing * 2 !important;
}

.ut-vertAlignTop{
	vertical-align: top !important;
}

.ut-vertAlignCenter{
    vertical-align: middle;
}

.ut-textAlignRight{
    text-align: right;
}

.ut-textAlignCenter{
    text-align: center;
}

.ut-textAlignLeft{
    text-align: left !important;
}

.ut-bgNone{
    background: transparent;
}

.ut-bg1{
    background: $color1 !important;
}

.ut-bg2{
    background: $color2 !important;
}

.ut-bg3{
    background: $color3 !important;
}

.ut-bg4{
    background: $color4 !important;
}

.ut-noWrap{
    white-space: nowrap;
}

.ut-wrap{
    word-break: break-all;
    word-wrap: break-word;
}

.ut-hide{
    display: none !important;
}

.ut-inlineBlock{
    display: inline-block;
}

.ut-block{
    display: block;
}

.ut-borderBox{
    box-sizing: border-box;
}

.ut-iconSize{
    width: $iconSize;
    height: $iconSize;
    min-width: $iconSize;
}

.ut-highlight{
    color: $color1;
}

.ut-relative{
    position: relative;
}

@include breakpoint(max-width $mobileMax){
    .ut-desktopOnly{
        display: none;
    }
}